
@{
    ViewData["Title"] = "AccessDenied";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row layout-top-spacing">
    <div class="col-xl-12 col-lg-12 col-md-12 col-12 layout-spacing">
        <div class="widget widget-content-area br-4">
            <div class="widget-one">
                <h1>خطای دسترسی</h1>
                <h6>امکان دسترسی به صفحه موردنظر محدود شده است!</h6>
                <p class="mb-0 mt-3">در صورت نیاز به بررسی شرایط احراز دسترسی با مدیر سیستم مکاتبه نمایید.</p>

            </div>
        </div>
    </div>
</div>